<div class="parallax-section home-top">
  <% if user_signed_in? %>
  <div class="btn btn-primary btn-upload-center"><%= link_to "Upload", new_image_path, class: "text-white" %></div>
  <% end %>
</div>
