<div class="col-sm-4 col-sm-offset-4">
  <div class="panel panel-primary">
    <div class="panel-body">
      <h1 class="text-center">New Image</h1>

      <%= render 'form', image: @image %>
    <div class="text-right margin-top-5">
      <%= link_to 'Back', images_path, class: "italic" %>
    </div>

    </div>
  </div>
</div>
